<!-- login.tpl -->

<div class="page-content">

    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center"><h1>Log in</h1></div>
        </div>


        <div class="row">


            <div class="col-sm-12">

                <div>
                    <input type="submit" value="Login" ng-click="vm.login()" />
                    <input type="submit" value="Logout" ng-click="vm.logout()" />
                    <span>Logged in as {{vm.auth.profile.nickname}}</span>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>


    </div>


</div>