<div class="page-content">
    <div class="container">

        <div class="row">
            <div class="lp-hero col-sm-12 text-center">
                <h1>Food Events</h1>

                <p class="lead">Find the latest London and UK food events, shows & festivals.</p>

            </div>

        </div>

        <!-- content -->
        <div class="row">

            <div class="col-sm-12">

                <!--<pre>{{ vm.listings | json }}</pre>-->

                <!-- Loading Icons -->
                <div ng-if="vm.loading" class="loading-info">
                    <div class="loading-info-content">
                        <img src="/img/ring.gif" alt="LOADING DATA"/>
                    </div>
                </div>

                <!-- grid list  -->
                <div class="bucket">

                    <div
                            dir-paginate="item in vm.listings
                        | filter:query
                        | orderBy: 'item.event_start_date'
                        | itemsPerPage: 12" class="grid-item">


                        <div class="content">

                            <div>

                                <div class="grid-img">
                                    <a ng-if="!item.event_img_url" href="/food-events/{{ item.nid}}">
                                        <img ng-src="{{ item.event_image }}" class="img-responsive"/>
                                    </a>

                                    <a ng-if="item.event_img_url" href="/food-events/{{ item.nid}}">
                                        <!--img url -->
                                        <img ng-src="{{ item.event_img_url }}" class="img-responsive"/>
                                    </a>
                                </div>


                                <div class="caption">
                                    <h4 class="title" ng-bind-html="item.node_title"></h4>

                                    <p class="start-date">{{ item.event_start_date }}</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- / grid list  -->

            </div>

        </div>

        <!-- pager -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- ngDirective provided by the dir-pagination module @bower_components -->
                <dir-pagination-controls></dir-pagination-controls>

            </div>

        </div>

    </div>
</div>