<!-- Dashboard Section -->
<div class="page-content">
    <section class="dashboard-section" id="dashboard">


        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1>Dashboard</h1>


                <pre>
                    {{ vm.dashboard  }}
                    {{ vm.userData }}
                </pre>


                </div>

                <div ng-show="main.user" class="row">
                    <div class="col-md-8">

                        <!-- panel -->
                        <h2>News</h2>

                        <div class="panel">


                        </div>


                    </div>
                    <div class="col-md-4">

                        <!-- panel -->
                        <h2>User Info</h2>

                        <div class="panel">

                        </div>

                        <!-- panel -->
                        <h2>User Qual Progress</h2>

                        <div class="panel">

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- End Dashboard Section -->

</div>