// Typography

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(29, 29, 29, 0.92);
  padding-bottom: 20px;

}

h1 {
  margin: 20px 0;
  font-size: 35px;
  font-weight: lighter;

}

h2 {
  font-size: 30px;
  font-weight: lighter;

}

h3 {
  font-size: 24px;
  margin-bottom: 20px;

}

h4 {
  font-size: 18px;

}

h5 {
  font-size: 15px;

  text-transform: uppercase;
  font-weight: 500;

}

.section-title {
  padding: 40px 0 20px 0;
  font-size: 30px;
  color: #333333;
}

h1.title {

  font-size: 38px;
  font-weight: lighter;

}

.lp-hero {

  padding: 50px 0;

  h1 {

    font-size: 55px;
  }

}

@media (min-width: $breakpoint-desktop) {

  h1 {
    font-size: 55px;
  }

}