<!-- header.tpl.html -->
<nav class="navbar navbar-white navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header ">

            <div class="logo-top-bar">
                <a href="/frontpage">

                    <img src="/img/ilmg_logo.png" height="35px">

                </a>
            </div>

        </div>


        <!-- Desktop Menu  -->
        <div class="hidden-sm hidden-xs">

            <ul class="nav navbar-nav menu-top-bar">

                <li><a href="/food-events">Events</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/articles">Articles</a></li>

            </ul>

            <!-- Search -->
            <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--</form>-->

        </div>

        <!-- Add hamburger + mobile menu overlay -->
        <div class="mobile-menu-holder">
            <div data-mobile-menu toggle="menu"></div>
        </div>


        <!--<div class="account-utilities nav-right">-->

        <!--&lt;!&ndash; User Component Directive &ndash;&gt;-->
        <!--&lt;!&ndash;<div data-user-menu-top-bar></div>&ndash;&gt;-->

        <!--&lt;!&ndash; Login Component Directive &ndash;&gt;-->
        <!--<div data-login-directive-top-links></div>-->


        <!--</div>-->


    </div>

</nav>