<nav class="navbar navbar-white navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header ">

            <div class="logo-top-bar">
                <a href="/frontpage">

                    <img src="/assets/img/ilmg_logo.png" height="35px">

                </a>
            </div>

        </div>


        <!-- Desktop Menu  -->
        <div class="hidden-sm hidden-xs">

            <ul class="nav navbar-nav menu-top-bar">

                <li><a href="/food-events">Events</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/articles">Articles</a></li>

            </ul>


        </div>

        <!-- Add hamburger + mobile menu overlay -->
        <div class="mobile-menu-holder">
            <div data-mobile-menu toggle="menu"></div>
        </div>

    </div>

</nav>