
.newsletter {
  @extend .row;
}

.newsletter__signup {

  text-align: center;

  @extend .col-xs-12;
  @extend .col-md-6;
  @extend .col-md-offset-3;

}

.footer {

  position: relative;

  margin: 20px 0;

  @extend .container-fluid;

  .footer__content {

    @extend .row;

  }

  .footer__branding {
    @extend .col-xs-12;
    @extend .col-sm-6;

    text-align: center;
  }

  .footer__links {
    @extend .col-xs-12;
    @extend .col-sm-6;
  }

  .footer__logo--holder {

    display: table;
    width: 100%;
    height: 100%;
  }

  .footer__logo--content {

    display: table-cell;
    padding: 35px 0 0 25px;
    vertical-align: middle;
    text-align: left;
    p {
      color: $grey-light;
      font-size: 13px;
    }

  }

  .footer__links--content {
    @extend .row;

  }
  .footer__readmore {
    @extend .col-xs-12;
    @extend .col-sm-6;
  }

  .footer__events {
    @extend .col-xs-12;
    @extend .col-sm-6;

    p {
      color: $grey-light;
      font-size: 13px;
    }
  }

}

.footer-terms {
  display: block;
  height: 70px;

  width: 100%;
  padding: 15px 25px 15px 25px;
  background-color: $grey-darker;
  color: white;
  a {
    color: white;
  }

  .footer-terms__copyright {
    float: none;
  }

  .footer-terms__links {
    float: none;
  }

}

@media (min-width: $breakpoint-desktop) {

  .footer-terms {
    display: block;
    height: 50px;
    width: 100%;
    padding: 15px 25px 15px 25px;
    background-color: $grey-darker;
    color: white;
    a {
      color: white;
    }

    .footer-terms__copyright {
      float: left;
    }

    .footer-terms__links {
      float: right;
    }

  }

}