<!-- footer.tpl.html -->

<!-- @todo : this needs cleaning and simplifying -->

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <div class="socials">
                    <a href="https://twitter.com/ilovemygrub" target="_blank" class="icon-medium"><i
                            class="icon-twitter"></i></a>
                    <a href="https://www.facebook.com/pages/iLoveMyGrubcom-FAN/309353911709" target="_blank"
                       class="icon-medium"><i class="icon-facebook"></i></a>
                    <a href="https://www.pinterest.com/ilovemygrub" target="_blank" class="icon-medium"><i
                            class="icon-pinterest"></i></a>
                </div>

            </div>

            <!--<div class="col-xs-1 col-sm-4 to-top-wrap">-->
            <!--&lt;!&ndash; @todo : scroll to top directive &ndash;&gt;-->
            <!--</div>-->

        </div>
    </div>
</section>

<!-- footers-->
<footer>
    <div class="container">

        <div class="footer-links row">

            <!-- footer logo -->
            <div class="logo-wrap col-xs-12 col-sm-6">

                <div class="logo">
                    <!-- needs sizing -->
                    <a href="/#/frontpage"><img src="/img/ilmg_logo.png" alt="iLoveMyGrub.com logo"></a>
                </div>

                <p class="text-wrap">&copy; iLoveMyGrub.com 2016</p>

            </div>


            <ul class="footer-group col-xs-12 col-sm-3">
                <h5>Read more</h5>
                <li><a href="/about">About </a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/food-events">Events</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <!--<li><a href="/#/news">News</a></li>-->
                <li>
                    <a href="https://docs.google.com/a/modernfidelity.co.uk/forms/d/1OaI6LJGCdMO1JEA0O8BeVBNZcTONQki9dniTC91qFqY/viewform"
                       target="_blank">Contact us</a></li>
            </ul>

            <!-- Food Events  -->
            <div class="col-xs-12 col-sm-3">
                <h5>Find an Event</h5>

                <p>Get the latest info and details on up and coming food events</p>
                <a href="/food-events">
                    <div class="btn btn-primary"> Find Food Events</div>
                </a>
            </div>


        </div>
    </div>
</footer>

<div class="footer-terms">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline footer-links">
                    <li><a href="/privacy-policy" title="Privacy policy">Privacy policy</a></li>
                    <li><a href="/terms" title="Terms and conditions">Terms and
                        conditions</a></li>
                </ul>

            </div>

        </div>
    </div>
</div>