.kombucha{

  background: #eae7dc;
  padding:0 0 60px 0;





  @at-root .kombucha__header {
    width:100%;
    padding: 100px 0;
    text-align: center;
  }

  @at-root .kombucha-logo {
    width: 100%;
    max-width: 607px;
    margin:0 auto;

  }


  @at-root .kombucha__content {
    text-align: center;
  }

  @at-root .kombucha__section {
    width:100%;
    padding: 40px 0;


    & h2 {
      //text-transform: uppercase;
      padding: 20px 0;
    }

    & ul {
      font-size: 25px;
    }

  }


}
