
.hero {

  //margin-top: -30px;
  //border:1px red solid;
  //background-image: url(//assetcdn.500px.org/assets/home/home_cover-86eea8a3203efdf9e70a1712d8f6742e.jpg);

  position: relative;
  //
  //background-image: url(https://s3-eu-west-1.amazonaws.com/www.ilovemygrub.com/media/hero-bibimbap-yamyam-berlin.jpg);
  //
  //background-position: center 65%;

  background: url(https://s3-eu-west-1.amazonaws.com/www.ilovemygrub.com/media/hero-bibimbap-yamyam-berlin.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 550px;

}

#head-content {

  display: table;
  height: 550px;
  color: white;

  h1 {
    text-transform: uppercase;
    font-size: 45px;
    color: white !important;
  }
  h2 {
    font-size: 30px;
    color: white !important;
  }

  .head-content-cell {

    display: table-cell;
    vertical-align: middle;

  }

}
