<div class="frontpage">





    <section class="hero">

        <div class="container">

            <div class="row">

                <div id="head-content" class="col-xs-12 text-center">

                    <div class="head-content-cell">

                        <h1>Unearthing the best in food cats</h1>



                        <h2>For the food-obsessed, and the ever-peckish...</h2>

                    </div>

                </div>
                <!-- end col -->

            </div>
            <!-- end row -->


        </div>
        <!-- end head container -->

    </section>


    <section class="section-2 module">
        <div class="container">
            <div id="section-2-container" class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-1">
                    <a href="/food-events"><h2>Food Events</h2></a>

                    <p>Find the latest London and UK food events, shows & festivals.</p>

                    <div class="section-2-btn-wrap"><a href="/food-events"
                                                       class="btn btn-default section-2-btn frontpage-vbottom">Find a
                        food event</a></div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-2">
                    <a href="/articles"><h2>Articles</h2></a>

                    <p>We're suckers for food, and we LOVE talking about it. Find all the tasty food chat here.</p>

                    <div class="section-2-btn-wrap"><a href="/articles"
                                                       class="btn btn-default section-2-btn frontpage-vbottom">Read
                        latest
                        articles</a></div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 section-2-cta cta-3">
                    <a href="/recipes"><h2>Recipes</h2></a>

                    <p>Soups, desserts, vegetarian recipes and of course CAKE. Drool away people.</p>

                    <div class="section-2-btn-wrap"><a href="/recipes"
                                                       class="btn btn-default section-2-btn frontpage-vbottom">Find the
                        best
                        recipes</a></div>

                </div>

            </div>
            <!-- end #section-2-container - row -->

        </div>
        <!-- end container -->


    </section>
    <!-- end section-2 -->


    <!-- #3 -->
    <section class="section-3 module text-center">

        <div id="section-3-container" class="container">

            <div class="row">

                <div id="section-3-content-wrap">


                    <div class="section-3-img"></div>

                    <div id="section-3-text-wrap" class=""></div>

                </div>

            </div>

        </div>

    </section>


</div>