<div class="frontpage">

    <section class="hero">

        <div class="head-content">

            <div class="head-content__cell">

                <h1>Unearthing the best in food</h1>

                <h2>For the food-obsessed, and the ever-peckish...</h2>

                <a href="http://eepurl.com/bgqDwD" target="_blank" class="btn btn-primary white">Sign up for News</a>

            </div>

        </div>

    </section>


    <section class="promos module">

        <div class="promo_sections">

            <div class="promo_sections__item">

                <a href="/food-events">
                    <h2>Food Events</h2>
                    <p>Find the latest London and UK food events, shows & festivals.</p>
                </a>

                <div class="section-2-btn-wrap"><a href="/food-events"
                                                   class="btn btn-default section-2-btn frontpage-vbottom">Find a
                    food event</a></div>

            </div>

            <div class="promo_sections__item">

                <a href="/articles">
                    <h2>Articles</h2>
                    <p>We're suckers for food, and we LOVE talking about it. Find all the tasty food chat here.</p>
                </a>
                <div class="section-2-btn-wrap"><a href="/articles"
                                                   class="btn btn-default section-2-btn frontpage-vbottom">Read
                    latest
                    articles</a></div>
            </div>

            <div class="promo_sections__item">

                <a href="/recipes">
                    <h2>Recipes</h2>
                    <p>Soups, desserts, vegetarian recipes and of course CAKE. Drool away people.</p>
                </a>

                <div class="section-2-btn-wrap">
                    <a href="/recipes"
                       class="btn btn-default section-2-btn frontpage-vbottom">Find the
                        best
                        recipes</a>
                </div>

            </div>

        </div>

    </section>

</div>