<div class="page-content">

    <section id="about">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">


                    <h1>Terms &amp; conditions</h1>

                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even"><p>These are the Terms and Conditions on which you may make use
                                of this website. This document, together with any other document referred to below (such
                                as our privacy policy) should be read carefully. Please note that by accessing and using
                                this website, you agree to be bound by our terms and conditions. Please also note that
                                we may update this document at any time. You should therefore check this page on a
                                regular basis.</p>

                                <p><strong>1. iLoveMyGrub.com</strong><br/>
                                    This website is operated by I Love My Grub Limited (referred to below as ‘I Love My
                                    Grub Limited’ or ‘we’) which is a registered company in England and Wales (Company
                                    No: 6374490), established in 2007. Our registered address is I Love My Grub, PO Box
                                    900A, Surbiton, KT1 9LT.</p>

                                <p><strong>2. Access to this site</strong><br/>
                                    Although we have made and will carry on to make reasonable efforts to prevent this
                                    type of problem, please note that this website is provided on an “as available”
                                    basis and it is not technically possible for us to guarantee that this website will
                                    be bug-free or error-free. You also understand and accept that this website may be
                                    inaccessible on occasions due to essential maintenance or technical
                                    difficulties.<br/>
                                    Please note that we reserve the right to withdraw or suspend access to this website
                                    and to amend any of the services offered by this website at any time and without
                                    notice. We will not therefore accept any liability in case of temporary or
                                    indefinite unavailability of this website. </p>

                                <p><strong>3. Your Registration as a Member</strong><br/>
                                    You undertake to supply true and accurate information when submitting a membership
                                    form and to keep such information up to date. In the event that you submit unlawful,
                                    inaccurate, outdated or incomplete information, I Love My Grub Limited has the right
                                    to suspend or terminate your membership and to deny immediately and for the future
                                    your access to all or part of the site. </p>

                                <p><strong>4. Information posted on this website</strong><br/>
                                    The information posted on this website or in any communication which we may send to
                                    you in accordance with our privacy policy is indicative only and is not intended to
                                    be representations or advice on which you should solely rely. </p>

                                <p>Please note that whilst I Love My Grub Limited has made reasonable efforts to check
                                    the accuracy of this website, it is nonetheless provided on an “as is” basis.
                                    Accordingly, we do not accept any liability for any errors or omissions. If you are
                                    in any doubt as to the accuracy of information made available within these pages, we
                                    recommend you seek verification by contacting us at <a
                                            href="mailto:info@ilovemygrub.co.uk"
                                            rel="nofollow">info@ilovemygrub.co.uk</a>. </p>

                                <p><strong>5. Use of iLoveMyGrub’s community/forum</strong><br/>
                                    You agree to use the community section of the website (including the message boards)
                                    in accordance with the rules set out below.</p>

                                <p>a) You must not submit any defamatory or illegal material of any nature. This
                                    includes text, graphics, video, programs or audio;</p>

                                <p>b) Submissions (including, but not limited to, submissions to the message board, case
                                    studies, blogs and discussion groups) must be civil, constructive and tasteful.
                                    Unlawful or objectionable content (including, but not limited to, abusive,
                                    threatening, racially offensive, sexually orientated or harmful content) is not
                                    acceptable. We will fully co-operate with any law enforcement authorities or court
                                    order requesting or directing us to disclose the identity of anyone posting such
                                    information or materials on this website;</p>

                                <p>c) You must not submit any misleading or false information;</p>

                                <p>d) You must not submit material with the intention of committing or promoting an
                                    illegal act or purpose;</p>

                                <p>e) You must only submit materials that are your own original work. You must not copy,
                                    plagiarise or otherwise infringe the intellectual property rights of third parties
                                    including copyright, trade mark, trade secrets, privacy, publicity, personal or
                                    proprietary rights;</p>

                                <p>f) No inappropriate (for example, vulgar or offensive) user names will be
                                    permitted;</p>

                                <p>g) No spamming or off-topic material;</p>

                                <p>h) No impersonation; and</p>

                                <p>i) The views expressed in the community section are those of members of the public
                                    and are not necessarily those of I Love My Grub Limited.</p>

                                <p>You agree and accept that I Love My Grub Limited can monitor the material published
                                    on this website (whether in the Forum Section or elsewhere on the website) before
                                    and while it is being published. I Love My Grub Limited reserves the right to refuse
                                    or withdraw, at its sole discretion, any material submitted for publication and I
                                    Love My Grub Limited’s decision in this respect shall be final. </p>

                                <p>You further agree and accept that I Love My Grub Limited has the right to delete any
                                    material it deems to violate these Terms and Conditions of Use or which would
                                    otherwise be unacceptable, and/or to terminate completely or partially the right of
                                    access corresponding to your account immediately or to deny any future access to the
                                    service. </p>

                                <p><strong>6. Sanction</strong><br/>
                                    If you fail to abide by any of these terms and conditions, I Love My Grub Limited
                                    reserves the right to take action against you and to suspend your membership on a
                                    temporary or permanent basis. If you post or send material which contravenes section
                                    5 above, I Love My Grub Limited may use whatever information that is available to it
                                    about you to stop any further infringements. This may include disclosing any
                                    relevant information to the relevant law enforcement authorities.</p>

                                <p><strong>7. Data Protection</strong><br/>
                                    I Love My Grub Limited strongly recommends that members should never disclose to
                                    other members (unless it is necessary for them to do so) personal information such
                                    as their name, address, e-mail address, telephone number or any other personal
                                    information that could allow them to be identified outside the site. Any personal
                                    information collected through this website will be processed in accordance with our
                                    privacy policy.<br/>
                                    I Love My Grub Limited will not be liable should members or non-members meet or
                                    enter into a contract or agreement as a consequence of their use of its site or
                                    services. </p>

                                <p><strong>8. Linking to and from this web site</strong><br/>
                                    We encourage links to this website provided always that is done fairly and legally.
                                    However, we will not accept the following:</p>

                                <p>a) “framing” of a part of our web site on any other website.</p>

                                <p>b) any suggestion that I Love My Grub Limited in some way endorses and/or sponsors
                                    your website or your activities or that there is a formal relationship of any kind
                                    between you and I Love My Grub Limited unless this is true. </p>

                                <p>Please note that we may withdraw any authorisation in relation to linking at any time
                                    and without notice. This website may also contain links to websites operated by
                                    third parties. Please note that I Love My Grub Limited has no control over the
                                    contents and the Privacy Policy of these websites. We will therefore accept no
                                    liability in this respect. Links are provided for convenience and inclusion of any
                                    link does not imply endorsement in any way of the site to which it links.</p>

                                <p><strong>9. Intellectual property</strong><br/>
                                    Unless stated otherwise, I Love My Grub Limited owns (or is duly licensed to use)
                                    the copyright in this website and in any material posted on it (including, but not
                                    limited, to the text, trade marks, trade names, logos, graphics, illustrations,
                                    designs, software and written or other material). This material is protected by
                                    trade mark, copyright and/or other proprietary rights owned by or licensed to I Love
                                    My Grub Limited and all rights are reserved. Except as expressly permitted by these
                                    terms of use, this website and all or any part of its content shall remain the
                                    exclusive property of I Love My Grub Limited, or its licensors and may not be used,
                                    sold, licensed, copied or reproduced in whole or in part in any manner or form by
                                    any person without the prior written consent of I Love My Grub Limited.</p>

                                <p>Members may be allowed by I Love My Grub Limited to download some material from this
                                    website but only to the extent that the material is used for private non-commercial
                                    purposes and/or to the extent the use is covered by the fair dealing provisions of
                                    the relevant UK law.</p>

                                <p><strong>10. Web site security</strong><br/>
                                    You agree that you will not do anything or allow anything to be done to compromise
                                    the security of this web site. </p>

                                <p><strong>11. Disclaimer</strong><br/>
                                    I Love My Grub Limited does not make any representation or warranty of any kind (to
                                    the fullest extent permissible by law), including the implied warranties of
                                    satisfactory quality, fitness for a particular purpose, non-infringement,
                                    capability, security and accuracy.<br/>
                                    To the fullest extent permissible by law, I Love My Grub Limited excludes its
                                    liability for any loss of use, loss of data, loss of revenue or anticipated profits,
                                    loss of business, loss of opportunity, loss of goodwill or injury to reputation,
                                    loss suffered by third parties and any indirect, special or consequential damages or
                                    losses, whether such losses arise in contract, negligence or tort, including without
                                    limitation to the foregoing any losses in relation to your use of, reliance upon or
                                    inability to use the website.</p>

                                <p><strong>12. General</strong><br/>
                                    English law shall govern the use of the website and in the event of a dispute you
                                    irrevocably submit to the exclusive jurisdiction of the English Courts.<br/>
                                    If any of these terms are determined to be illegal, invalid or otherwise
                                    unenforceable, then to the extent in which that term is illegal, invalid or
                                    otherwise unenforceable it shall be severed and deleted from these terms and the
                                    remaining terms shall survive, remain in full force and effect and continue to be
                                    binding and enforceable.</p>

                                <p><strong>13. Contact us</strong><br/>
                                    If you have any queries in relation to any aspect of this website, please contact us
                                    at <a href="mailto:info@ilovemygrub.co.uk" rel="nofollow">info@ilovemygrub.co.uk</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>
</div>

