<!-- recipes.tpl -->

<div class="page-content">

    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>News</h1>

                <p></p>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <pre>{{ vm.listings | json }}</pre>

                <ul class="media-list">
                    <li class="media" ng-repeat="item in vm.listings track by $index">
                        <div class="media-left">
                            <a href="#">
                                <img ng-src="{{item.field_image[0].url}}" width="250px" class="media-object"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{item.title[0].value}}</h4>

                            <p ng-bind-html="item.body[0].value"></p>

                        </div>
                    </li>
                </ul>

            </div>


        </div>

    </div>
</div>