<div class="static-page page-content">

    <div class="kombucha">

        <div class="kombucha__header">
            <img src="/assets/img/products/kombucha/kom_logo_blk.png" class="kombucha-logo" title="Bednářová Kombucha" alt="Bednářová Kombucha">
        </div>

        <div class="container">

            <div class="row">

                <div class="col-sm-12">


                    <div class="kombucha__content">

                        <h1>An ancient probiotic elixir</h1>


                        <div class="kombucha__section">

                            <h2>What is kombucha? </h2>
                            <p>This curious drink is made by fermenting sweet tea using a kombucha culture known as a
                                ‘SCOBY’
                                (Symbiotic Culture of Bacteria and Yeasts). This little culture transforms the flavour
                                of
                                the
                                tea into something quite unusual. Kombucha is a tart, refreshing drink with a complex
                                depth
                                of
                                flavour and its own natural carbonation. Once fermenting is finished, the kombucha is
                                left
                                teeming with probiotics. Enjoyed for centuries in China and Russia it’s often referred
                                to
                                anecdotally as the ‘elixir of life’.</p>

                            <p>We second ferment our kombucha to increase its natural fizz and probiotic content. Our
                                kombucha
                                is raw (unpasturised), preserving the friendly bacteria that proliferate during the
                                fermentation
                                process.</p>
                        </div>

                        <div class="kombucha__section">
                            <h2>Kombucha benefits</h2>

                            <ul>
                                <li>Aids digestion</li>
                                <li>Helps maintain a healthy gut</li>
                                <li>Contains billions of probiotics</li>
                                <li>Boosts energy/mood naturally</li>
                            </ul>
                        </div>

                        <div class="kombucha__section">
                            <h2>How much should you drink?</h2>
                            <p>It’s good to start slowly with live, fermented drinks as they’re a rich source of
                                probiotics.
                                We
                                suggest starting with 4oz of kombucha a day (about half a mug). If you drink a small
                                amount
                                at
                                mealtimes, the enzymes and probiotics in the kombucha will help digest your food.</p>
                        </div>

                        <div class="kombucha__section">
                            <h2>About Bednářová</h2>
                            <p>Set up by food journalist Helenka Bednar, Bednářová came about through various
                                experiments in
                                her
                                kitchen, creating all kinds of fermented foods. She delved into the intriguing world of
                                fermentation in a bid to help her dodgy digestion, and got hooked on the tangy flavours
                                and
                                the
                                positive effect these live foods had on her health. Passionate about food, nutrition and
                                health,
                                Helenka is particularly interested in the link between a healthy gut, and a healthy body
                                and
                                mind.</p>

                            <p>People often say ‘you are what you eat’, but at Bednářová we believe that ‘you are what
                                you
                                absorb’. Every person has around 2 pounds of bacteria in their gut, and most of them
                                should
                                be
                                the friendly type! These friendly bacteria are the guardians of your digestive system.
                                They
                                help
                                to break down your food, absorb nutrients, protect your gut lining and even produce
                                vitamins
                                for
                                your body to utilise. Consuming fermented foods on a regular basis is a tasty way to top
                                up
                                your
                                friendly bacteria.</p>

                            <p>For more information about our kombucha and other forthcoming fermented products</p>

                            <a href="http://eepurl.com/bgqDwD" target="_blank" class="btn btn-primary white">Sign up for
                                Updates</a>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>