<div class="mobile-menu">

    <div class="burger">
        <div ng-click="toggleOverlay()"><img src="/img/svg/burger_menu.svg" height="25px" class="mobile-nav-btn"/></div>
    </div>


    <div class="menu-overlay" ng-show="toggle">

        <div class="overlay-close" ng-click="toggleOverlay()">
            <img src="/img/img_toggle-close.png">
        </div>

        <div class="content">

            <div>

                <!--<div class="logo">-->
                <!--<img src="/img/logo_invert.svg" width="80px">-->
                <!--</div>-->


                <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                <!--<form class="navbar-form navbar-left" role="search">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->


                <ul class="list-unstyled overlay-links">
                    <li>
                        <a ng-click="toggleOverlay()" href="/food-events">Events</a>
                    </li>
                    <li>
                        <a ng-click="toggleOverlay()" href="/articles">Articles</a>
                    </li>
                    <li>
                        <a ng-click="toggleOverlay()" href="/recipes">Recipes</a>
                    </li>
                    <li>
                        <a ng-click="toggleOverlay()"
                           href="https://docs.google.com/a/modernfidelity.co.uk/forms/d/1OaI6LJGCdMO1JEA0O8BeVBNZcTONQki9dniTC91qFqY/viewform"
                           target="_blank">Contact</a>
                    </li>
                    <li>
                        <a ng-click="toggleOverlay()" href="/about">About</a>
                    </li>
                </ul>


                <div>
                    <a href="https://twitter.com/ilovemygrub" target="_blank" class="icon-medium"><i class="icon-twitter"></i></a>
                    <a href="https://www.facebook.com/pages/iLoveMyGrubcom-FAN/309353911709" target="_blank" class="icon-medium"><i class="icon-facebook"></i></a>
                    <a href="https://www.pinterest.com/ilovemygrub" target="_blank" class="icon-medium"><i class="icon-pinterest"></i></a>
                </div>

            </div>

        </div>

    </div>


</div>
