
<div class="static-page page-content">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <h1>About Us</h1>

                <p>We love our food at iLoveMyGrub.com, and we suspect you might too, seeing as you've stumbled
                    across
                    us. Whether you're a sucker for fry-ups, a chocolate connoisseur or simply love licking cake mix
                    from the bowl, we've got something to tickle your culinary senses. We'll be reviewing great
                    places
                    to eat out, devising fabulous ways to eat in and keeping you abreast of the best recipes, food
                    products and kitchen gadgets that we come across. </p>

                <p>We're also big fans of food that's been produced
                    with the consumer, the produce and the environment in mind, so we'll be flagging up some healthy
                    and
                    ethical ideas on eating too.</p>

                <p>Every month we'll be putting the best of the bunch in our monthly newsletter, so sign up if you'd
                    like to find out more about the food that we love.</p>


                <!--The iLoveMyGrub team-->
                <!--To find out more about the team, click here-->

                <!--Advertising-->
                <!--For advertisers and information on advertising click here-->

                <!--Competitions-->
                <!--Find out more about arranging competitions with iLoveMyGrub.com-->

                <h3>Contact us</h3>
                <p>iLoveMyGrub.com<br>
                    PO Box 900A<br>
                    Surbiton<br>
                    KT1 9LT<br>
                    Tel: 020 8133 8417<br>
                    Company No: 6374490</p>

                <p>Note to PRs: Please do not send food & drink samples to the address above. If you would like to
                    send
                    samples to the team at iLoveMyGrub.com, please contact the Editor for further information.</p>
            </div>


        </div>

    </div>


</div>